.lofi-container {
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.lofi-app-name{
    margin: auto;
    text-align: left;
}
.lofi-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.lofi-sidenav {
    user-select: none;
}
.full-width {
    width: 100%;
    margin: auto;
    padding: auto;
    text-align: center;
    vertical-align: text-bottom;
}
.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}
.menu-button.rotated {
    transform: rotate(180deg);
}
.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 40px;
    display: none;
}
.submenu.expanded {
    transform: scaleY(1);
    display: block;
}
.lofi-table-title {
    margin: auto;
    height: 5%;
    background-color: white;
    text-decoration: solid;
    font-size: 1.25em;
    text-align: left;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.highlight {
    background-color: lightskyblue;
}

.custom-icon{
    width: 25px;
    height: 25px;
}