<mat-toolbar color="primary" class="home-toolbar">
	
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	
	<button mat-button [matMenuTriggerFor]="menu">Menu</button>
	<mat-menu #menu="matMenu">
	  <button mat-menu-item (click)="goToSearch()">Search</button>
	  <button mat-menu-item (click)="startPlaylistDialog()">Playlist</button>
	  <button mat-menu-item (click)="startPullDialog()">Pull Lofi</button>
	</mat-menu>

	<h2 class="lofi-app-name">Hi {{user?.userName}}, welcome to Lofi Project</h2>

</mat-toolbar>
<mat-sidenav-container class="lofi-container" autosize>
	<mat-sidenav #sidenav class="lofi-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">add</mat-icon>
				<mat-icon class="menu-button" *ngIf="isExpanded || isShowing">folder_open</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">Lofi Project</span>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<mat-list-item class="playlist" (click)="selectIntegratedPlaylists()">
					<img class="custom-icon" src="/assets/image/icon_sub_directory.png" alt="icon">
					<span class="full-width" *ngIf="isExpanded || isShowing">Integrated playlists</span>
				</mat-list-item>

				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">add</mat-icon>
					<mat-icon mat-list-icon>folder_open</mat-icon>
					<span class="full-width" *ngIf="isExpanded || isShowing">Lofi-Jazz</span>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<div *ngFor="let playlist of playlists">
						<mat-list-item class="playlist" (click)="selectPlaylist(playlist.playlistId)">
							<img class="custom-icon" src="/assets/image/icon_sub_directory.png" alt="icon">
							<span class="full-width" *ngIf="isExpanded || isShowing">{{playlist.playlistName}}</span>
						</mat-list-item>
					</div>
				</div>

				<mat-list-item (click)="showSubSubMenu_2 = !showSubSubMenu_2" class="parent">
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu_2}" *ngIf="isExpanded || isShowing">add</mat-icon>
					<mat-icon mat-list-icon>folder_open</mat-icon>
					<span class="full-width" *ngIf="isExpanded || isShowing">Lofi-Hiphop</span>
				</mat-list-item>				
			</div>
		</mat-nav-list>
		<mat-nav-list>
			<mat-list-item class="parent" (click)="showRefers()" *ngIf="isExpanded || isShowing">
				<img class="custom-icon" src="/assets/image/icon_sub_directory.png" alt="icon">
				<span class="full-width">Referral list</span>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="lofi-table" *ngIf="selectedPlaylist && lofies">
			
			<p class="lofi-table-title">{{selectedPlaylist.playlistName}}</p>
			<input class="searchTerm" [(ngModel)]="searchTerm" placeholder="Filter by Lofi Name" (ngModelChange)="onSearchTermChange($event)"><br>
			
			<table mat-table class="table table-hover">
				<thead>
					<tr class="table-active">
						<th mat-header-cell style="width: 13%" (click)="sortData('lofiName')">
							Lofi Name
						</th>
						<th mat-header-cell style="width: 9%" (click)="sortData('lofiAuthor')">
							Lofi Author
						</th>
						<th mat-header-cell style="width: 7%" (click)="sortData('lofiType')">
							Lofi Type
						</th>
						<th mat-header-cell style="width: 20%" (click)="sortData('lofiLocation')">
							Lofi Location
						</th>
						<th mat-header-cell style="width: 7%" (click)="sortData('lofiPlaytime')">
							Lofi Playtime
						</th>
					</tr>
				</thead>
				<tbody *ngFor="let lofi of lofiesToDisplay">
					<tr [class.highlight]="lofi.isSelected" mat-row (click)="clickLofiRow(lofi)" (dblclick)="dbClickLofiRow(lofi)">
						<td mat-cell>{{lofi.lofiName}}</td>
						<td mat-cell>{{lofi.lofiAuthor}}</td>
						<td mat-cell>{{lofi.lofiType}}</td>
						<td mat-cell>{{lofi.lofiLocation}}</td>
						<td mat-cell>{{lofi.lofiPlaytime}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>