<mat-toolbar color="primary" class="lofi-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="lofi-app-name">Hi {{user?.userName}}, welcome to Lofi Project</h1>
</mat-toolbar>
<mat-sidenav-container class="lofi-container" autosize>
	<mat-sidenav #sidenav class="lofi-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Lofi Project</span>
				<mat-icon mat-list-icon>library_music</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Lofi-Jazz</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<div *ngFor="let playlist of playlists">
						<mat-list-item class="playlist" (click)="selectPlaylist(playlist.playlistId)">{{playlist.playlistName}}</mat-list-item>
					</div>
				</div>
				<mat-list-item (click)="showSubSubMenu_2 = !showSubSubMenu_2" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Lofi-Hiphop</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu_2}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu_2}" *ngIf="isShowing || isExpanded">
					
				</div>
			</div>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="lofi-table" *ngIf="selected && selectedPlaylist">
			{{selectedPlaylist.playlistName}}
			<tr>
				<td>{{selectedPlaylist.playlistName}}</td>
			</tr>
		</div> 

	</mat-sidenav-content>

</mat-sidenav-container>