<h1 mat-dialog-title>Playlist</h1>
<div mat-dialog-content>
  <ul>
    <li>
      <button mat-button (click)="selectCreate()" cdkFocusInitial>Create playlist</button>
    </li>
    <li>
      <button mat-button (click)="selectDelete()">Delete playlist</button>
    </li>
  </ul>

  <div class="card-body" *ngIf="isCreate">
    <form [formGroup]="createForm" (ngSubmit)="submitChange()">
        <div class="mb-3">
            <label class="form-label">Playlist Name</label>
            <input type="text" formControlName="playlistName" class="form-control" [ngClass]="{ 'is-invalid': submitted && createF['playlistName'].errors }" />
            <div *ngIf="submitted && createF['playlistName'].errors" class="invalid-feedback">
                <div *ngIf="createF['playlistName'].errors['required']">Playlist name is required</div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Playlist Genre</label>
            <mat-select formControlName="playlistGenre">
              <mat-option *ngFor="let pGenre of playlistGenres" [value] = "pGenre">
                {{pGenre}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && createF['playlistGenre'].errors" class="invalid-feedback">
                <div *ngIf="createF['playlistGenre'].errors['required']">Select playlist Genre</div>
            </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Playlist Status</label>
          <mat-select formControlName="playlistStatus">
            <mat-option *ngFor="let pStatus of playlistStatuses" [value] = "pStatus">
              {{pStatus}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && createF['playlistStatus'].errors" class="invalid-feedback">
              <div *ngIf="createF['playlistStatus'].errors['required']">Select playlist Status</div>
          </div>
        </div>
        <div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Submit
            </button>
        </div>
    </form>
  </div>

  <div class="card-body" *ngIf="isDelete">
    <form [formGroup]="deleteForm" (ngSubmit)="submitChange()">
        <div class="mb-3">
            <label class="form-label">Select your playlist to delete</label>
            <mat-select formControlName="playlist">
              <mat-option *ngFor="let p of data.playlists" [value] = "p" (click) = "selectPlaylistToUpdate(p)">
                {{p.playlistName}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && deleteF['playlist'].errors" class="invalid-feedback">
                <div *ngIf="deleteF['playlist'].errors['required']">Select playlist to delete</div>
            </div>
        </div>
        <div *ngIf="selectedPlaylist">
          <div class="mb-3">
            <div class="card-body">
              Playlist Id: {{selectedPlaylist.playlistId}} <br>
              Playlist Genre: {{selectedPlaylist.playlistGenre}} <br>
              Playlist Status: {{selectedPlaylist.playlistStatus}} <br>
              <div *ngIf="selectedPlaylistLofies">
                Number of assigned lofies: {{selectedPlaylistLofies.length}}<br>
              </div>
            </div>
          </div>
          <div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  Submit
              </button>
          </div>
        </div>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="clickCancel()">Cancel</button>
</div>