<h1 mat-dialog-title>Playlist</h1>
<div mat-dialog-content>
  <form>
    <div>
      <input type="radio" name="createPlaylist" (change)="selectCreate()" [checked]="isCreate" cdkFocusInitial>
       Create a playlist
    </div>
    <div>
      <input type="radio" name="deletePlaylist" [checked]="isDelete" (change)="selectDelete()">
       Delete a playlist
    </div>
  </form>

  <div class="card-body" *ngIf="isCreate">
    <form [formGroup]="createForm" (ngSubmit)="submitChange()">
        <div class="mb-3">
            <label class="form-label">* Playlist Name</label>
            <input type="text" formControlName="playlistName" class="form-control" [ngClass]="{ 'is-invalid': submitted && createF['playlistName'].errors }" />
            <div *ngIf="submitted && createF['playlistName'].errors" class="invalid-feedback">
                <div *ngIf="createF['playlistName'].errors['required']">Playlist name is required</div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">* Playlist Genre</label>
            <mat-select formControlName="playlistGenre">
              <mat-option *ngFor="let pGenre of playlistGenres" [value] = "pGenre">
                {{pGenre}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && createF['playlistGenre'].errors" class="invalid-feedback">
                <div *ngIf="createF['playlistGenre'].errors['required']">Select playlist Genre</div>
            </div>
        </div>
        <div class="mb-3">
          <label class="form-label">* Playlist Status</label>
          <mat-select formControlName="playlistStatus">
            <mat-option *ngFor="let pStatus of playlistStatuses" [value] = "pStatus">
              {{pStatus}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && createF['playlistStatus'].errors" class="invalid-feedback">
              <div *ngIf="createF['playlistStatus'].errors['required']">Select playlist Status</div>
          </div>
        </div>
        <div>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Create
            </button>
        </div>
    </form>
  </div>

  <div class="card-body" *ngIf="isDelete">
    <form [formGroup]="deleteForm" (ngSubmit)="submitChange()">
        <div class="mb-3">
            <label class="form-label">* Select your playlist to delete</label>
            <mat-select formControlName="playlist">
              <mat-option *ngFor="let p of data.playlists" [value] = "p" (click) = "selectPlaylistToUpdate(p)">
                {{p.playlistName}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && deleteF['playlist'].errors" class="invalid-feedback">
                <div *ngIf="deleteF['playlist'].errors['required']">Select playlist to delete</div>
            </div>
        </div>
        <div *ngIf="selectedPlaylist">
          <div>
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th style="width: 10%">
                              Name
                          </th>
                          <th style="width: 10%">
                              Genre
                          </th>
                          <th style="width: 10%">
                              Status
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{selectedPlaylist.playlistName}}</td>
                          <td>{{selectedPlaylist.playlistGenre}}</td>
                          <td>{{selectedPlaylist.playlistStatus}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div>
              <button [disabled]="loading" class="btn btn-danger">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  Delete
              </button>
          </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="clickCancel()">Cancel</button>
</div>